body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

header,
.middle {
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul {
  list-style: none;
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.middle {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}

footer span {
  font-size: 11px;
}
